<div class="container">
  <div class="row mb-5">
    <div class="col-md-12">
      <h1>Calculator</h1>
    </div>
  </div>
  <hr/>
  <div class="row mb-4 mt-4">
    <div class="col-md-1">
      <h2>+</h2>
    </div>
    <div class="col-md-2">
      <input class="form-control" type="number" [(ngModel)]="firstAdditionNumber">
    </div>
    <div class="col-md-1">
      <h4 class="text-center">+</h4>
    </div>
    <div class="col-md-2">
      <input class="form-control" type="number" [(ngModel)]="secondAdditionNumber">
    </div>
    <div class="col-md-1">
      <h4 class="text-center">=</h4>
    </div>
    <div class="col-md-1">
      <h4 class="text-center" *ngIf="!isNaN(Addition())">{{Addition()}}</h4>
    </div>
  </div>
  <hr/>
  <div class="row mb-4 mt-4">
    <div class="col-md-1">
      <h2>-</h2>
    </div>
    <div class="col-md-2">
      <input class="form-control" type="number" [(ngModel)]="firstSubstractionNumber">
    </div>
    <div class="col-md-1">
      <h4 class="text-center">-</h4>
    </div>
    <div class="col-md-2">
      <input class="form-control" type="number" [(ngModel)]="secondSubstractionNumber">
    </div>
    <div class="col-md-1">
      <h4 class="text-center">=</h4>
    </div>
    <div class="col-md-1">
      <h4 class="text-center" *ngIf="!isNaN(Substraction())">{{Substraction()}}</h4>
    </div>
  </div>
  <hr/>
  <div class="row mb-4 mt-4">
    <div class="col-md-1">
      <h2>x</h2>
    </div>
    <div class="col-md-2">
      <input class="form-control" type="number" [(ngModel)]="firstMultiplicationNumber">
    </div>
    <div class="col-md-1">
      <h4 class="text-center">x</h4>
    </div>
    <div class="col-md-2">
      <input class="form-control" type="number" [(ngModel)]="secondMultiplicationNumber">
    </div>
    <div class="col-md-1">
      <h4 class="text-center">=</h4>
    </div>
    <div class="col-md-1">
      <h4 class="text-center" *ngIf="!isNaN(Multiplication())">{{Multiplication()}}</h4>
    </div>
  </div>
  <hr/>
  <div class="row mb-4 mt-4">
    <div class="col-md-1">
      <h2>/</h2>
    </div>
    <div class="col-md-2">
      <input class="form-control" type="number" [(ngModel)]="firstDivisionNumber">
    </div>
    <div class="col-md-1">
      <h4 class="text-center">/</h4>
    </div>
    <div class="col-md-2">
      <input class="form-control" type="number" [(ngModel)]="secondDivisionNumber">
    </div>
    <div class="col-md-1">
      <h4 class="text-center">=</h4>
    </div>
    <div class="col-md-1">
      <h4 class="text-center" *ngIf="!isNaN(Division())">{{Division()}}</h4>
    </div>
  </div>
  <hr/>
  <div class="row mb-4 mt-4">
    <div class="col-md-1">
      <h2>Λ</h2>
    </div>
    <div class="col-md-2">
      <input class="form-control" type="number" [(ngModel)]="firstExponentiationNumber">
    </div>
    <div class="col-md-1">
      <h4 class="text-center">Λ</h4>
    </div>
    <div class="col-md-2">
      <input class="form-control" type="number" [(ngModel)]="secondExponentiationNumber">
    </div>
    <div class="col-md-1">
      <h4 class="text-center">=</h4>
    </div>
    <div class="col-md-1">
      <h4 class="text-center" *ngIf="!isNaN(Exponentiation())">{{Exponentiation()}}</h4>
    </div>
  </div>
  <hr/>
</div>
