<div class="container">
  <div class="row mb-5">
    <div class="col-md-12">
      <h1>Calculator</h1>
    </div>
  </div>
  <hr/>
  <div class="row mb-4 mt-4">
    <div class="col-md-1">
      <h2>+</h2>
    </div>
    <div class="col-md-2">
      <input class="form-control" type="number" [(ngModel)]="firstAdditionNumber" id="firstAdd">
    </div>
    <div class="col-md-1">
      <h4 class="text-center">+</h4>
    </div>
    <div class="col-md-2">
      <input class="form-control" type="number" [(ngModel)]="secondAdditionNumber" id="secondAdd">
    </div>
    <div class="col-md-1">
      <h4 class="text-center">=</h4>
    </div>
    <div class="col-md-1">
      <h4 class="text-center" id="addAnswer"  *ngIf="!isNaN(Addition())">{{Addition()}}</h4>
    </div>
  </div>
  <hr/>
  <div class="row mb-4 mt-4">
    <div class="col-md-1">
      <h2>-</h2>
    </div>
    <div class="col-md-2">
      <input class="form-control" type="number" [(ngModel)]="firstSubstractionNumber" id="firstSub">
    </div>
    <div class="col-md-1">
      <h4 class="text-center">-</h4>
    </div>
    <div class="col-md-2">
      <input class="form-control" type="number" [(ngModel)]="secondSubstractionNumber" id="secondSub">
    </div>
    <div class="col-md-1">
      <h4 class="text-center">=</h4>
    </div>
    <div class="col-md-1">
      <h4 class="text-center" id="subAnswer" *ngIf="!isNaN(Substraction())">{{Substraction()}}</h4>
    </div>
  </div>
  <hr/>
  <div class="row mb-4 mt-4">
    <div class="col-md-1">
      <h2>x</h2>
    </div>
    <div class="col-md-2">
      <input class="form-control" type="number" [(ngModel)]="firstMultiplicationNumber" id="firstMul">
    </div>
    <div class="col-md-1">
      <h4 class="text-center">x</h4>
    </div>
    <div class="col-md-2">
      <input class="form-control" type="number" [(ngModel)]="secondMultiplicationNumber" id="secondMul">
    </div>
    <div class="col-md-1">
      <h4 class="text-center">=</h4>
    </div>
    <div class="col-md-1">
      <h4 class="text-center" id="mulAnswer" *ngIf="!isNaN(Multiplication())">{{Multiplication()}}</h4>
    </div>
  </div>
  <hr/>
  <div class="row mb-4 mt-4">
    <div class="col-md-1">
      <h2>/</h2>
    </div>
    <div class="col-md-2">
      <input class="form-control" type="number" [(ngModel)]="firstDivisionNumber" id="firstDiv">
    </div>
    <div class="col-md-1">
      <h4 class="text-center">/</h4>
    </div>
    <div class="col-md-2">
      <input class="form-control" type="number" [(ngModel)]="secondDivisionNumber" id="secondDiv">
    </div>
    <div class="col-md-1">
      <h4 class="text-center">=</h4>
    </div>
    <div class="col-md-1">
      <h4 class="text-center" id="divAnswer" *ngIf="!isNaN(Division())">{{Division()}}</h4>
    </div>
  </div>
  <hr/>
  <div class="row mb-4 mt-4">
    <div class="col-md-1">
      <h2>Λ</h2>
    </div>
    <div class="col-md-2">
      <input class="form-control" type="number" [(ngModel)]="firstExponentiationNumber" id="firstExp">
    </div>
    <div class="col-md-1">
      <h4 class="text-center">Λ</h4>
    </div>
    <div class="col-md-2">
      <input class="form-control" type="number" [(ngModel)]="secondExponentiationNumber" id="secondExp">
    </div>
    <div class="col-md-1">
      <h4 class="text-center">=</h4>
    </div>
    <div class="col-md-1">
      <h4 class="text-center" id="expAnswer" *ngIf="!isNaN(Exponentiation())">{{Exponentiation()}}</h4>
    </div>
  </div>
  <hr/>
</div>
<p>Test</p>
